body {
	background-image: url(../images/symphony.png);
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	margin: 0px;
}

div.top { /* wrapped around <header> and <nav> */
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 60px;
}

nav {
	width: 270;
	padding: 19px 20px 19px 20px;
	float: right;
	margin-right: 160px;
}

div.divider { /* to make visual diveders between the links*/
	float: left;
	border-right: 3px solid #cccccc;
	margin-left: 10px;
	padding-right: 10px;
}

div.divider_3 { /* to hide the divider after the Contact*/
	float: left;
	margin-left: 10px;
	padding-right: 10px;
}

header {
	background-color: #4aaaa5;
	padding: 19px 20px 19px 20px;
	width: 230px;
	color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    float: left;
    margin-left: 130px;
    border: 1px solid #cccccc;
}

aside{
	width: 270px;
	height: 230px;
	float: right;
	margin-left: 40px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

#links{ /* parameters for <div> inside of the article with the social networks*/
    margin-left: 36px;
    padding-bottom: 28px;
    height: 50px;
    background-color: #ffffff;
}

section {
	margin-top: 15px;
	width: 960px;
	margin-left: 130px;
}

article {
	width: 650px;
	height: 470px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}

h1 {
	color: #4aaaa5;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 2px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/* the part above and <footer> at the end of the file are the same for all 3 pages,
except height of the article.
It needs to be changed coresponding to the context.
As soon as in the portfolio.html I have position:relative/absolute
for images inside of the <article>,
the images were excluded from <article>'s' visual borders (I think so). */

form {
	margin-left: 10px;
	margin-right: 20px;
}

input.small_windows {
	width: 100%;
	height: 20px;
	border: 1px solid #cccccc;
	margin-top: 10px;
	margin-bottom: 10px;

}

input.style_for_buttons{
    background-color: #4aaaa5;
    border: 1px solid #cccccc;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    font-size: 15px;

 }

#large_comment {
	width: 100%;
	padding-bottom: 110px;
	border: 1px solid #cccccc;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.fix_footer{
  height: 50px;
}

footer {

	bottom: 0px;
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -30px;
}
