html{
	height: 100%;
}
body {
	background-image: url(../images/symphony.png);
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	margin: 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

div.top { /* wrapped around <header> and <nav> */
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 60px;
}

nav {
	width: 270;
	padding: 19px 20px 19px 20px;
	float: right;
	margin-right: 160px;
}

div.divider { /* to make visual diveders between the links*/
	float: left;
	border-right: 3px solid #cccccc;
	margin-left: 10px;
	padding-right: 10px;
}

div.divider_3 { /* to hide the divider after the Contact*/
	float: left;
	margin-left: 10px;
	padding-right: 10px;
}

header {
	background-color: #4aaaa5;
	padding: 19px 20px 19px 20px;
	width: 230px;
	color: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  float: left;
  margin-left: 130px;
  border: 1px solid #cccccc;
}

aside{
	width: 270px;
	height: 230px;
	float: right;
	margin-left: 40px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

#links{ /* parameters for <div> inside of the article with the social networks*/
    margin-left: 36px;
    padding-bottom: 28px;
    height: 50px;
    background-color: #ffffff;
}

section {
	margin-top: 15px;
	width: 960px;
	margin-left: 130px;
	flex: 1 0 auto;
}

article {
	width: 650px;
	height: 800px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}

h1 {
	color: #4aaaa5;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 2px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/* the part above and <footer> at the end of the file are the same for all 3 pages,
except height of the article.
It needs to be changed coresponding to the context.
As soon as in the portfolio.html I have position:relative/absolute
for images inside of the <article>,
the images were excluded from <article>'s' visual borders (I think so). */

p {
	width: 70px;
	padding: 15px 15px 15px 15px;
	background-color: #4aaaa5;
	color: #ffffff;
}

div.wrap_all_pic {
	width: 650px;
	margin-left: 25px;
	position: relative;

}

.cats{
	width: 270px;
	position: absolute;
}

p.image_cats {
	position: relative;
	bottom: 90px;
}

.nature {
	width: 270px;
	position: absolute;
	right: 50px;
	top: 0px;
}

p.image_nature {
	position: relative;
	bottom: 90px;
}

.city {
	width: 270px;
	position: absolute;
	left: 0px;
	top: 250px;
}

p.image_city {
	position: relative;
	bottom: 90px;
}

.fashion {
    width: 270px;
	position: absolute;
	right: 50px;
	top: 250px;
}

p.image_fashion {
	position: relative;
	bottom: 90px;
}

.nightlife {
	width: 270px;
	position: absolute;
	left: 0px;
	top: 500px;
}

p.image_nightlife {
	position: relative;
	bottom: 90px;
}

div.fix_footer{
  height: 50px;
}

footer {
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
}
